{% extends 'core/base.html' %}

{% block title %}
Password Reset Sent
{% endblock %}

{% block home_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body text-center">
                    <h1 class="mb-4">Password Reset Sent</h1>

                    <h5 class="mb-4">
                        We’ve emailed you instructions for setting your password, if an account exists with the email
                        you entered.
                        You should receive them shortly.
                    </h5>

                    <h5 class="mb-4">
                        If you don’t receive an email, please make sure you’ve entered the address you registered with,
                        and check
                        your spam folder.
                    </h5>

                    <div class="mt-4">
                        <a class="btn btn-secondary" href="{% url 'login' %}">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}