{% extends 'core/base.html' %}

{% block title %}
Password Reset Confirm
{% endblock %}

{% block home_content %}
<div class="container">
  <div class="row col-md-6 offset-md-3">
    <h1 class="text-center mt-5">Password Reset Confirmation</h1>

    <form method="POST" class="mt-5 text-center">
      {% csrf_token %}

      <!-- Password Field -->
      <div class="mb-3">
        <input type="password" class="form-control" name="new_password1" placeholder="New Password" required>
      </div>

      <!-- Confirm Password Field -->
      <div class="mb-3">
        <input type="password" class="form-control" name="new_password2" placeholder="Confirm New Password" required>
      </div>

      <!-- Submit Button -->
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}