{% extends 'core/base.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block home_content %}
<div class="container">
  <div class="row col-md-6 offset-md-3">
    <h1 class="text-center mt-5">Reset Password</h1>

    <form action="{% url 'reset_password' %}" method="POST" class="mt-5 text-center">
      {% csrf_token %}
<h5>
  Enter your email address below and we'll send you a link to reset your password.

</h5>
      <!-- Email Field -->
      <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="Email" required>
      </div>

      <!-- Submit Button -->
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>

      <div>
        <a href="{% url 'login' %}"> Back to login</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}