{% extends 'core/base.html' %}

{% block title %}
Password Reset Sent
{% endblock %}

{% block home_content %}
<div class="container">
    <div class="row col-md-6 offset-md-3">

        <h1 class="text-center mt-5">
            Password Reset Sent
        </h1>

        <h5 class="text-center mt-5">
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You
            should receive them shortly.
        </h5>

        <h5 class="text-center mt-5">
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your
            spam folder.
        </h5>



    </div>
</div>
{% endblock %}