{% extends 'core/base.html' %}

{% block title %}
Password Reset Confirm
{% endblock %}

{% block home_content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm mt-5">
        <div class="card-body">
          <h1 class="text-center my-3">Password Reset Confirmation</h1>

          <form method="POST" class="mt-4">
            {% csrf_token %}

            <!-- Password Field -->
            <div class="mb-3">
              <input type="password" class="form-control" name="new_password1" placeholder="New Password" required>
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-3">
              <input type="password" class="form-control" name="new_password2" placeholder="Confirm New Password"
                required>
            </div>

            <!-- Submit Button -->
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
      <p class="text-center mt-3">
        <a class="text-decoration-none text-success" href="{% url 'login' %}">Back to Login</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}