{% extends 'core/base.html' %}

{% block title %}
Register
{% endblock %}

{% load crispy_forms_tags %}

{% block home_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body">
                    <h1 class="text-center my-4">Register</h1>
                    <form action="" method="post">
                        {% csrf_token %}

                        <!-- Crispy form rendering -->
                        <div class="mb-3">
                            {{ form.username|as_crispy_field }}
                        </div>

                        <div class="mb-3">
                            {{ form.first_name|as_crispy_field }}
                        </div>

                        <div class="mb-3">
                            {{ form.last_name|as_crispy_field }}
                        </div>

                        <div class="mb-3">
                            {{ form.email|as_crispy_field }}
                        </div>

                        <div class="mb-3 position-relative">
                            {{ form.password1|as_crispy_field }}
                            <span class="position-absolute end-0 top-0 mt-2 me-4" onclick="togglePassword('password1')"
                                style="cursor:pointer;">
                                <i class="bi bi-eye-slash text-dark" id="toggle-password1-icon"></i>
                            </span>
                        </div>

                        <div class="mb-3 position-relative">
                            {{ form.password2|as_crispy_field }}
                            <span class="position-absolute end-0 top-0 mt-2 me-4" onclick="togglePassword('password2')"
                                style="cursor:pointer;">
                                <i class="bi bi-eye-slash text-dark" id="toggle-password2-icon"></i>
                            </span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Register</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>

                        <br>
                        <p class="text-center text-secondary mt-3">Already registered?
                            <a class="text-decoration-none text-primary" href="{% url 'login' %}">
                                <strong>Login</strong>
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword(fieldId) {
        const passwordField = document.getElementById('id_' + fieldId);
        const toggleIcon = document.getElementById('toggle-' + fieldId + '-icon');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleIcon.classList.remove('bi-eye-slash');
            toggleIcon.classList.add('bi-eye');
        } else {
            passwordField.type = 'password';
            toggleIcon.classList.remove('bi-eye');
            toggleIcon.classList.add('bi-eye-slash');
        }
    }
</script>

{% endblock %}