{% extends 'core/base.html' %}

{% load static %}

{% block title %}About{% endblock %}
 
{% block home_content %}

<section class="about">
  <h1 class="fs-1 text-capitalize text-center mb-3">About Us</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="card mb-lg-4"> <!-- Margin bottom added for lg screen and above -->
          <div class="card-body">
            <h5 class="card-title">About Home4U</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod voluptates.
              Quisquam, quod voluptates.</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod voluptates.
              Quisquam, quod voluptates.</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod voluptates.
              Quisquam, quod voluptates.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Our Mission</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod voluptates.
              Quisquam, quod voluptates.</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod voluptates.
              Quisquam, quod voluptates.</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod voluptates.
              Quisquam, quod voluptates.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
