{% extends 'core/base.html' %}

{% block title %}Faqs{% endblock %}

{% block home_content %}

<section id="faqs">
  <h1 class="fs-1 text-capitalize text-center mb-3">frequently asked
    questions</h1>
  <div class="container-fluid mt-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <!-- FAQ Items -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Faq #1
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quam nihil neque sint aut culpa fugit
              aliquid cupiditate quae quia tempore est in illo autem earum saepe animi recusandae ab, repudiandae sunt
              quidem fugiat dicta ipsam. Culpa consequuntur vero fugiat minima id voluptas, repellat soluta maxime
              possimus similique. Non animi, quo ipsam totam perferendis suscipit quidem voluptatibus in, pariatur
              asperiores quia ipsa maxime dolorum obcaecati ullam ex earum saepe officiis, architecto optio illum
              laborum. Nostrum numquam doloremque dolor necessitatibus recusandae.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Faq #2
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quam nihil neque sint aut culpa fugit
              aliquid cupiditate quae quia tempore est in illo autem earum saepe animi recusandae ab, repudiandae sunt
              quidem fugiat dicta ipsam. Culpa consequuntur vero fugiat minima id voluptas, repellat soluta maxime
              possimus similique. Non animi, quo ipsam totam perferendis suscipit quidem voluptatibus in, pariatur
              asperiores quia ipsa maxime dolorum obcaecati ullam ex earum saepe officiis, architecto optio illum
              laborum. Nostrum numquam doloremque dolor necessitatibus recusandae.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Faq #3
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quam nihil neque sint aut culpa fugit
              aliquid cupiditate quae quia tempore est in illo autem earum saepe animi recusandae ab, repudiandae sunt
              quidem fugiat dicta ipsam. Culpa consequuntur vero fugiat minima id voluptas, repellat soluta maxime
              possimus similique. Non animi, quo ipsam totam perferendis suscipit quidem voluptatibus in, pariatur
              asperiores quia ipsa maxime dolorum obcaecati ullam ex earum saepe officiis, architecto optio illum
              laborum. Nostrum numquam doloremque dolor necessitatibus recusandae.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Faq #4
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quam nihil neque sint aut culpa fugit
              aliquid cupiditate quae quia tempore est in illo autem earum saepe animi recusandae ab, repudiandae sunt
              quidem fugiat dicta ipsam. Culpa consequuntur vero fugiat minima id voluptas, repellat soluta maxime
              possimus similique. Non animi, quo ipsam totam perferendis suscipit quidem voluptatibus in, pariatur
              asperiores quia ipsa maxime dolorum obcaecati ullam ex earum saepe officiis, architecto optio illum
              laborum. Nostrum numquam doloremque dolor necessitatibus recusandae.</p>
          </div>
        </div>
      </div>

      <!-- More FAQ items here -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Faq #5
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quam nihil neque sint aut culpa fugit
              aliquid cupiditate quae quia tempore est in illo autem earum saepe animi recusandae ab, repudiandae sunt
              quidem fugiat dicta ipsam. Culpa consequuntur vero fugiat minima id voluptas, repellat soluta maxime
              possimus similique. Non animi, quo ipsam totam perferendis suscipit quidem voluptatibus in, pariatur
              asperiores quia ipsa maxime dolorum obcaecati ullam ex earum saepe officiis, architecto optio illum
              laborum. Nostrum numquam doloremque dolor necessitatibus recusandae.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Faq #6
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quam nihil neque sint aut culpa fugit
              aliquid cupiditate quae quia tempore est in illo autem earum saepe animi recusandae ab, repudiandae sunt
              quidem fugiat dicta ipsam. Culpa consequuntur vero fugiat minima id voluptas, repellat soluta maxime
              possimus similique. Non animi, quo ipsam totam perferendis suscipit quidem voluptatibus in, pariatur
              asperiores quia ipsa maxime dolorum obcaecati ullam ex earum saepe officiis, architecto optio illum
              laborum. Nostrum numquam doloremque dolor necessitatibus recusandae.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}